<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul>
          <li><a href="{{ '/' | prepend: site.baseurl }}">About</a></li>
          <li><a href="{{ '/portfolio' | prepend: site.baseurl }}/">Portfolio</a></li>
        </ul>
    </div>
  </nav>

    <main>
      {{ content }}
    </main>

    <footer>
    </bv>
      <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}. No. 2001 Longxiang Boulevard, Shenzhen P.R.China; Phone: (+86) 156 9183 1236; Email: fynnzhou@outlook.com
        <!-- portfolio里面路径错误显示，待解决问题 
        <div>
          <table><tr>
            <td><img src="assets\img\cuhksz.png" width="235px" height="50px" style="margin-left:150px;margin-right: 15px;" border=0 /></td>
            <td>    </td>
            <td><img src="assets\img/xjtublue.png" width="192px" height="44.8px" style="margin-left: 15px" border=0 /></td>
            </tr></table> 
        </div>
        -->
      </span>
    </footer>
  </body>
</html>
